table {
    width: 650px;
}
/* no. */
table th, table td {
    width: 30px;
}
/* name */
table th + th, table td + td {
    width: 170px;
}
table th + th + th, table td + td + td {
    width: 340px;
}
table th + th + th + th, table td + td + td + td {
    width: 110px;
}
.fields {
    padding-bottom: 5px;
}
#name {
    width: 180px;
}
#address {
    width: 260px;
}
#postcode {
    width: 100px;
}
#telephone {
    width: 100px;
}
.controls {
    padding-bottom: 5px;
}
