<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
    <link href="../static/bootstrap/css/bootstrap.min.css" th:href="@{/static/bootstrap/css/bootstrap.min.css}"
          rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="../static/css/skin.css" th:href="@{/static/css/skin.css}"/>
    <link rel="stylesheet" type="text/css" href="../static/css/contact.css" th:href="@{/static/css/contact.css}"/>
    <link rel="stylesheet" type="text/css" href="../static/chosen/chosen.min.css"
          th:href="@{/static/chosen/chosen.min.css}"/>
</head>
<body>
<div class="container">
    <div class="col-md-12">
        <div th:include="fragments :: title">
            <h1 style="text-align: center;">Marius' Business</h1>
        </div>

        <div class="col-md-2">
            <div th:include="fragments :: menu">
                <h4>Menu</h4>
            </div>
        </div>
        <div class="col-md-10">
            <h2>Contact</h2>

            <form action="/contacts/action" method="POST" class="pure-form pure-form-stacked contact">
                <input type="hidden" name="contactId" th:value="${contact.id}"/>
                <input type="text" id="name" name="name" th:value="${contact.name}"/>
                <input type="text" id="address" name="address" th:value="${contact.address}"/>
                <input type="text" id="postcode" name="postcode" th:value="${contact.postcode}"/>
                <input type="text" id="telephone" name="telephone" th:value="${contact.telephone}"/>
                <button id="updateButton" type="submit" name="action" value="update">Update</button>
            </form>


            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne">
                        <h4 class="panel-title">Todos</h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapsed">
                        <div class="panel-body">

                            <form action="/contacts/todo" class="pure-form pure-form-aligned" method="POST">
                                <input type="hidden" name="contactId" th:value="${contact.id}"/>

                                <div class="pure-control-group">
                                    <input type="text" placeholder="Start Date" class="date" name="date"/>
                                    <input type="textarea" placeholder="Notes" id="notes" name="notes"/>
                                    <button id="saveButton" class="pure-button" type="submit">Add</button>
                                </div>
                            </form>
                            <table class="pure-table pure-table-bordered pure-table-striped">
                                <tr>
                                    <th class="date" colspan="2">Date</th>
                                    <th>Notes</th>
                                </tr>
                                <tr th:each="todo : ${todos}">
                                    <td th:text="${#dates.format(todo.date,'MMMM')}"></td>
                                    <td class="date" th:text="${#dates.format(todo.date,'EEEE dd')}"></td>
                                    <td th:text="${todo.notes}"></td>
                                </tr>
                            </table>

                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" data-target="#collapseTwo">
                        <h4 class="panel-title">Orders</h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div>
                                <select id="product" data-placeholder="Choose a Product..."
                                        class="chosen-select">
                                    <option value=""></option>
                                    <option value="99">XXX</option>
                                    <option th:each="product : ${products}" th:value="${product.id}"
                                            th:text="${product.name}">Some product
                                    </option>
                                </select>
                                <button class="pure-button add_field_button">Add</button>
                            </div>
                            <form action="/contacts/order" class="pure-form pure-form-aligned" method="POST">
                                <input type="hidden" name="contactId" th:value="${contact.id}"/>
                                <div class="pure-control-group">
                                    <div class="input_fields_wrap">
                                    </div>
                                    <button id="saveOrderButton" class="pure-button" type="submit">Save</button>
                                </div>
                            </form>
                            <table class="pure-table pure-table-bordered pure-table-striped">
                                <tr style="text-align: left">
                                    <th class="date">Date</th>
                                    <th>Product Name</th>
                                    <th class="amount">Amount</th>
                                </tr>
                                <tr th:each="order : ${orders}">
                                    <td class="date" th:text="${#dates.format(order.date,'dd/MM/yyyy')}"></td>
                                    <td th:text="${order.name}"></td>
                                    <td class="amount" th:text="${order.amount}"></td>
                                </tr>
                            </table>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>-->
<script src="../static/jquery/jquery-1.10.2.min.js" th:href="@{/static/jquery/jquery-1.10.2.min.js}"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script src="../static/bootstrap/js/bootstrap.min.js" th:href="@{/static/bootstrap/js/bootstrap.min.js}"></script>
<script src="../static/chosen/chosen.jquery.min.js" th:href="@{/static/chosen/chosen.jquery.min.js}"></script>
<script src="../static/js/contact.js" th:href="@{/static/js/contact.js}"></script>
<script>
    $(".chosen-select").chosen();
    $( ".date" ).datepicker();
    $("#saveOrderButton").hide();
</script>
</body>
</html>