<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" type="text/css" href="../css/theme.css"/>
    <link rel="stylesheet" type="text/css" href="../css/skin.css"/>
    <style type="text/css">
        #first, #last {
            width: 70px;
        }
        #address {
            width: 220px;
        }
        #postcode {
            width: 60px;
        }
        #telephone {
            width: 63px;
        }
        .controls {
            padding-bottom: 5px;
        }
    </style>
</head>
<body>
<div id="content">
    <div th:include="fragments :: header"></div>
    <h2>Contacts</h2>
    <form action="/contacts/action" class="pure-form" method="POST">
        <div class="pure-control-group controls">
            <input type="text" placeholder="First" id="first" name="first" tabindex="1"/>
            <input type="text" placeholder="Last" id="last" name="last" tabindex="1"/>
            <input type="text" placeholder="Address" id="address" name="address" tabindex="2"/>
            <input type="text" placeholder="Postcode" id="postcode" name="postcode" tabindex="3"/>
            <input type="text" placeholder="Telephone" id="telephone" name="telephone" tabindex="3"/>
            <button class="pure-button pure-button-primary" type="submit" name="action">Add</button>
            <button class="pure-button pure-button-primary" type="submit" name="action">Find</button>
        </div>
    </form>
    <table class="pure-table pure-table-bordered pure-table-striped">
        <tr style="text-align: left">
            <th style="width: 150px">Name</th>
            <th style="width: 350px">Address</th>
            <th style="width: 100px">Telephone</th>
        </tr>
        <tr th:each="contact : ${contacts}">
            <td style="width: 150px"><a th:href="@{/contacts/{id}(id=${contact.id})}" th:text="${contact.name}">Marius The
                Fish Man!</a></td>
            <td style="width: 350px" th:text="${contact.address}">Somewhere in the South East, HP8 4JT</td>
            <td style="width: 100px" th:text="${contact.telephone}">01234 567890</td>
        </tr>
    </table>
</div>
</body>
</html>