<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <body>
        <div th:fragment="header">
            <h1>Contacts</h1>
            <div>
                <a href="todos" class="pure-button pure-button-primary">Todo List</a>
                <a href="contacts" class="pure-button pure-button-primary">Contacts</a>
            </div>
            <div>
                <a href="addtodo" class="pure-button pure-button-primary">New Todo</a>
                <a href="addcontact" class="pure-button pure-button-primary">New Contact</a>
            </div>
            <form action="/searchcontact">
                <div class="pure-control-group alignBtn">
                    <button type="submit" name="action" value="search" class="pure-button">Find Contact</button>
                    <input type="text"/>
                </div>
            </form>
        </div>
    </body>
</html>