<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" type="text/css" href="../css/theme.css"/>
    <link rel="stylesheet" type="text/css" href="../css/skin.css"/>
</head>
<body>
<div id="content">
    <div th:fragment="header">
        <h1>Marius' Business</h1>

        <div style="width: 450px; padding: 5px" class="pure-control-group">
            <a style="width: 80px;" href="/todos" class="pure-button pure-button-primary">Todo List</a>
            <a style="width: 80px;" href="/contacts" class="pure-button pure-button-primary">Contacts</a>
            <a style="width: 80px;" href="/products" class="pure-button pure-button-primary">Products</a>
        </div>
    </div>

</div>
</body>
</html>