<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" type="text/css" href="../css/theme.css"/>
    <link rel="stylesheet" type="text/css" href="../css/skin.css"/>
</head>
<body>
    <div id="content">
        <div th:include="fragments :: header"></div>
        <h2>New Todo</h2>
        <div id="todo_form">
            <form action="/addtot" class="pure-form pure-form-aligned" method="POST">
                <fieldset>
                    <legend>Todo</legend>
                    <div class="pure-control-group">
                        <label for="start">Start:</label>
                        <input type="text" placeholder="Start Date" id="start" name="start" tabindex="1"/>
                    </div>
                    <div class="pure-control-group">
                        <label for="end">End:</label>
                        <input type="text" placeholder="End Date" id="end" name="end" tabindex="2"/>
                    </div>
                    <div class="pure-control-group">
                        <label for="contact">Contact:</label>
                        <select id="contact" name="contact" tabindex="3">
                            <option th:each="contact : ${contacts}" th:value="${contact.id}"
                                    th:text="${contact.name}">Someone</option>
                        </select>
                    </div>
                    <div class="pure-control-group">
                        <label for="notes">Notes:</label>
                        <input type="textarea" placeholder="Notes" id="notes" name="notes" tabindex="4"/>
                    </div>
                    <div class="pure-control-group">
                        <button id="saveButton" class="pure-button pure-button-primary" type="submit">Save</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</body>
</html>