<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" type="text/css" href="../css/theme.css"/>
    <link rel="stylesheet" type="text/css" href="../css/skin.css"/>
    <style type="text/css">
        table {
            width: 500px;
        }
        .id {
            width: 40px;
        }
        #productId {
            width: 65px;
        }
        #name {
            width: 260px;
        }
        form {
            padding-bottom: 10px;
        }
    </style>
</head>
<body>
<div id="content">
    <div th:include="fragments :: header"></div>
    <h2>Products</h2>

    <div id="products_form">
        <form action="products/add" class="pure-form" method="POST">
            <div class="pure-control-group">
                <span style="font-style: italic; font-weight: bold">New product</span>
                <input type="text" placeholder="Product Id" id="productId" name="productId" tabindex="1"/>
                <input type="text" placeholder="Name" id="name" name="name" tabindex="2"/>
                <button id="saveButton" class="pure-button pure-button-primary" type="submit">Save</button>
            </div>
        </form>
    </div>
    <table class="pure-table pure-table-bordered pure-table-striped">
        <tr style="text-align: left">
            <th class="id">Id</th>
            <th class="name">Name</th>
        </tr>
        <tr th:each="product : ${products}">
            <td class="id" th:text="${product.productId}">1111</td>
            <td class="name" th:text="${product.name}">Soup</td>
        </tr>
    </table>
</div>
</body>
</html>