<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link href="../static/bootstrap/css/bootstrap.min.css" th:href="@{/static/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="../static/css/skin.css" th:href="@{/static/css/skin.css}"/>
    <link rel="stylesheet" type="text/css" href="../static/css/products.css" th:href="@{/static/css/products.css}"/>
</head>
<body>
<div class="container">
<div class="col-md-12">
    <div th:include="fragments :: title">
        <h1 style="text-align: center;">Marius' Business</h1>
    </div>

    <div class="col-md-2">
        <div th:include="fragments :: menu">
            <h4>Menu</h4>
        </div>
    </div>
    <div class="col-md-10">
        <div>
            <h2>Products</h2>

            <div>
                <form action="/products/add" class="pure-form" method="POST">
                    <div class="pure-control-group">
                        <input type="hidden" name="id" th:value="${product} ? ${product.id} : '0'"/>
                        <input id="code" type="text" placeholder="Code" name="code" maxlength="10" th:value="${product} ? ${product.code} : ''"/>
                        <input id="name" type="text" placeholder="Name" name="name" maxlength="50" th:value="${product} ? ${product.name} : ''"/>
                        <button type="submit" class="pure-button">Add/Replace</button>
                    </div>
                </form>
            </div>
            <table class="pure-table pure-table-bordered pure-table-striped">
                <tr>
                    <th>Code</th>
                    <th>Name</th>
                    <th colspan="2"></th>
                </tr>
                <tr th:each="product : ${products}">
                    <td class="id" th:text="${product.code}">MKL</td>
                    <td class="name" th:text="${product.name}">Soup</td>
                    <td><a th:href="@{/products/edit/{id}(id=${product.id})}">Edit</a></td>
                    <td><a th:href="@{/products/delete/{id}(id=${product.id})}">Del</a></td>
                </tr>
            </table>
        </div>

    </div>
</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="../static/bootstrap/js/bootstrap.min.js" th:href="@{/static/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>