<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" type="text/css" href="../css/theme.css"/>
    <link rel="stylesheet" type="text/css" href="../css/skin.css"/>
</head>
<body>
<div id="content">
    <div th:include="fragments :: header"></div>
    <h2>Todos</h2>
    <table class="pure-table pure-table-bordered pure-table-striped" style="width: 750px">
        <tr style="text-align: left">
            <th style="width: 120px">Start</th>
            <th style="width: 150px">Contact</th>
            <th style="width: 340px">Notes</th>
        </tr>
        <tr th:each="todo : ${todos}">
            <td style="width: 120px" th:text="${#dates.format(todo.date,'dd MMMM yyyy')}"></td>
            <td style="width: 150px"><a th:href="@{/contacts/{id}(id=${todo.contactId})}" th:text="${todo.contactName}">Name</a></td>
            <td style="width: 340px" th:text="${todo.notes}"></td>
        </tr>
    </table>
</div>
</body>
</html>